@font-face {
    font-family: 'euljiro';
    src: url('../fonts/BMEuljiro10yearslater.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100%;
    width: 100%;
    font-family: 'Noto Sans KR', -apple-system !important;
}